body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #007bff, #b8d3fe);
    overflow: hidden; /* Prevent scrolling */
    height: 100vh; /* Set the height to the viewport height */
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 50px auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  
  .discord-logo {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
  }
  
  .discord-logo img {
    width: 40px;
    height: 40px;
  }  
  
  .header {
    background-color: #0056b3;
    padding: 20px;
    text-align: center;
  }
  
  .logo {
    max-width: 100px;
    opacity: 0.8;
  }
  
  .content {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    resize: vertical;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .error {
    color: red;
  }

  .small-text {
    font-size: 0.8em; /* Set the font size smaller */
    color: green; /* Set the color to green */
    font-weight: bold; /* Optionally, make it bold for emphasis */
}

.small {
  font-size: 0.8em; /* Set the font size smaller */
}

